@charset "utf-8";

/* ----------------
	公共样式开始
----------------- */
/*music*/
.media-wrap {
	position: absolute;
	width: 0.6rem;
	height: 0.6rem;
	z-index: 102;
	border-radius: 50%;
	top: 0.6rem;
	right: 0.4rem;
}

.media-wrap img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.media-wrap .music_off {
	display: none;
}

@-webkit-keyframes music {

	0%,
	50%,
	100% {
		-webkit-transform: rotate(0deg)
	}

	25% {
		-webkit-transform: rotate(36deg)
	}

	75% {
		-webkit-transform: rotate(-36deg)
	}
}

.media-wrap.on {
	-webkit-animation: music 1.2s linear infinite;
	background-position: 0 0;
}

/*music*/
/*长页面滚轮*/
html,
body {
	width: 100%;
	height: 100%;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.page-L {
	width: 100%;
	height: 100%;
	position: relative;
}

.page-L::-webkit-scrollbar {
	display: none;
}

/*中间内容*/
.info {
	position: relative;
	min-height: 9rem;
	margin: 0rem 0.5rem;
	box-sizing: border-box;
}

.main {
	position: relative;
	min-height: 100%;
	font-size: 0.22rem;
	background: url(../images/bj.png) no-repeat top center/100% 100%;

}

.main .info .title {
	text-align: center;
	font-size: 0.2875rem;
	color: #333333;
	margin-bottom: 0.875rem;
}

.main .enter {
	margin-top: 1.05rem;
}

.main .enter img {
	width: 2.6625rem;
}

.enter1 img {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	/* width: 2.6625rem; */
	width: 2.43rem;
	margin-top: .2rem;
}


/*尾部*/
#s1 .footer {
	width: 100%;
	text-align: center;
	color: #000000;
	font-size: 0.15rem;
	position: absolute;
	bottom: 0rem;
	background: none;
}

.footer {
	width: 100%;
	text-align: center;
	color: #ffffff;
	font-size: 0.15rem;
	margin-top: 0.5rem;
	padding: 0.2rem 0rem;
	background-color: #e20413;
}

.footer img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.2rem;
	width: 0.2rem;
}

/* ----------------
	公共样式结束
----------------- */
/* ----------------
	各页面背景图
----------------- */
#s1 {
	background: url(../images/mainBg.jpg) no-repeat top center/100% 100%;
}

#s2,
#s3,
#s4,
#s5 {
	background-color: #ffffff;
}

.banner {
	width: 100%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

.nav-top {
	width: 100%;
	position: absolute;
	display: flex;
	left: 0;
	top: 0;
	justify-content: space-between;
	background-color: rgba(5, 120, 253, .7);
	padding: 0.1rem 0rem;
	box-sizing: border-box;
}

.nav-right {
	display: flex;
}

.nav-right .hand {
	width: 0.44rem;
	height: 0.3rem;
	box-sizing: border-box;
	margin: 0.1rem 0rem;
}

.nav-right .menu {
	width: 0.44rem;
	height: 0.3rem;
	box-sizing: border-box;
	margin: 0.1rem 0.2rem;
}

.main .top .logo {
	width: 1.2rem;
	margin: 0.1rem 0.2rem;
	box-sizing: border-box;
}

/* ----------------
	各页面背景图
----------------- */
/* ----------------
	引导页s1开始
----------------- */
#s1 .top img {
	display: block;
	margin: 0.34rem;
	box-sizing: border-box;
}

#s1 .slogan img {
	display: block;
	margin: 0 auto;
	width: 70%;
	margin-top: rem;
}

#s1 .enter0 img {
	width: 11.5625rem;
	margin: 5.3125rem auto 1.5rem;
}

.txt {
	font-size: 0.3rem;
	height: 7rem;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 1.5rem;
}

.nav div {
	width: 60%;
}

.nav div a {
	display: block;
	height: 0.6rem;
	line-height: 0.6rem;
	font-weight: bold;
	font-size: 0.26rem;
	color: #ffffff;
	text-align: center;
	margin: 0 0.08rem 0.2rem;
	background-image: linear-gradient(90deg,
			#ff75cd 0%,
			#a552e5 100%);
	border: solid 0.04rem #ffffff;
	border-radius: 0.5rem;
}

.media-wrap {
	position: absolute;
	width: 0.6rem;
	height: 0.6rem;
	z-index: 102;
	border-radius: 50%;
	top: 0.5rem;
	right: 1.5rem;
}

.meng {
	display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .58);
	z-index: 9999;
}

.c {
	width: 0.3rem;
	position: absolute;
	top: 0.37rem;
	right: 0.38rem;
}

.nav1 {
	width: 30%;
	/* padding-top: 1rem; */
	margin: 0.7rem 0 0 auto;
	box-sizing: border-box;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	flex-direction: column;

}

.nav1 li {
	width: 100%;
	text-align: center;
}

.nav1 li a {
	text-align: center;
	width: 100%;
	display: block;
	height: 0.8rem;
	line-height: 0.8rem;
	font-size: 0.32rem;
	color: #0078ff;
	background-repeat: no-repeat;
	background-position: 82% center;
	background-size: 0.15rem 0.26rem;
	transition: all .3s;
	font-size: 0.22rem;
}

.nav1 li a.on {
	color: #ffffff;
	background-color: #0078ff;
	background-size: 0.26rem 0.15rem;
}

.contentbox {
	padding: .24rem 0;
}

/* 内容 */
.title1 {
	margin-bottom: 50px;
}

.title1 .t1 {
	text-align: center;
	font-size: .35rem;
	letter-spacing: 0;
	color: #e20413;
	padding-bottom: 10px;
	/* display: inline-block; */
}

.title1 .t2 {
	text-align: center;
	font-size: .35rem;
	font-weight: normal;
	letter-spacing: 0;
	color: #000000;
	position: relative;
	padding-bottom: .10rem;
	border-bottom: solid .03rem #e20413;
	/* display: inline-block; */
}

.t2::after {
	content: '';
	position: absolute;
	bottom: -.25rem;
	left: 50%;
	width: .43rem;
	height: .24rem;
	transform: translateX(-50%);
	background-image: url('../images/sjx.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.btimg {
	width: 2.3rem;
	display: block;
}

.text {
	font-size: .24rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: .48rem;
	letter-spacing: 0;
	color: #333333;
	text-indent: 2em;
	padding: .30rem .3rem 0;
}

.objbox {
	background-color: #eff0f1;
	padding: .40rem .60rem;
	margin-bottom: .30rem;
}

.threebox {
	display: flex;
	justify-content: space-between;
	padding-bottom: .20rem;
}

.threebox div,
.four {
	position: relative;
	padding-left: .30rem;
}

.threebox div::after,
.four::after {
	display: block;
	content: "";
	position: absolute;
	width: .13rem;
	height: .14rem;
	background-color: #e20413;
	left: 0%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);

}

.lcbox {}

.lc {
	padding: .1rem 0;
	/* height: 1.13rem; */
	background-color: #eff0f1;
	display: flex;
	align-items: center;
	margin: .2rem 0 .2rem .36rem;
	box-sizing: border-box;
}

.lc-img img {
	margin-left: -50%;
	width: 1.12rem;
	height: 1.13rem;
	display: block;
}

.lc-top div {
	background-color: #e20413;
	border-radius: .20rem;
	display: inline-block;
	color: #fff;
	padding: .05rem .20rem;
	font-weight: normal;
}

.lc-top {
	margin-bottom: .18rem;
	color: #e20413;
	font-weight: bold;
}

.lc-bottom {
	padding-left: .15rem;
}

.lc-cont {
	margin-left: -.26rem;
}

.jlbox {
	margin: .30rem 0;
}

.jl {
	display: flex;
	align-items: center;
	/* background-color: #eff0f1; */
	margin-bottom: .10rem;
}

.jl img {
	width: .72rem;
	height: .47rem;
	/* position: relative; */
	z-index: 999;
}

.jl-cont {
	width: 100%;
	background-color: #eff0f1;
	padding: .2rem .60rem;
	margin-left: -.32rem;
}

.email {
	margin: 0 auto;
	width: 4.91rem;
	height: 1.40rem;
	line-height: .64rem;
	background-color: #e20413;
	border-radius: .10rem;
	text-align: center;
	color: #fff;

}

.email p {
	position: relative;
}

.email p::after {
	content: '';
	position: absolute;
	bottom: 0.2rem;
	left: 50%;
	width: 1.99rem;
	height: .08rem;
	transform: translateX(-50%);
	background-image: url('../images/yx.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.bk1,
.bk2,
.bk3,
.bk4 {
	margin-bottom: .4rem;
}